.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blac {
  background-color: rgb(134, 138, 139);
  font-size: 2rem;
  width: 100%;
}

.mr-auto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 42%;
  margin-left: 2rem;
}

.logo {
}

/* .scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
} */

.img-fluid {
  padding: 0;
  width: 25%;
  opacity: 1;
}

.container-main {
  background-image: url("feature2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 90rem;
  background-size: 100% auto;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main h1 {
  font-size: xx-large;
  padding: 10px;
  font-weight: lighter;
  position: absolute;
  z-index: -1;
}

.container-main p {
  font-size: 5rem;
  padding: 50px;
  font-weight: initial;
  position: absolute;
  z-index: 1;
  margin-top: 400px;
  font-family: "Style Script", cursive;
}

.container-footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: ivory;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.container-footer h2 {

  padding-top: 2rem;
}

.container-footer p {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
/* CONTACT*/

.contact-wrapper {
  background-color: black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: cornsilk;
  height: 45rem;
  margin-top: 15rem;
  margin-left: 25rem;
  padding: 2rem;
  margin-bottom: 5rem;
}

.conhead {
  font-size: 2rem;
  margin-left: 9rem;
}

.contact {
  padding-right: 2rem;
}

/* PAYPAL*/

.paypal {
  background-color: rgb(204, 127, 204);
}

#bookwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#firstbook {
  border-radius: 5%;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#secondbook {
  border-radius: 5%;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#smart-button-container {
  padding: 10px 10px 10px 10px;
  background-color: rgb(204, 127, 204);
}

#smart-button-container h2 {
  display: flex;
  justify-content: center;
}

#smart-button-container p {
  justify-items: center;
  margin: 10px 10px;
  font-size: 18px;
  color: black;
}

#description {
  margin-right: 5px;
}

#amount {
  margin-left: 32px;
}

#priceLabelError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#item-options {
  width: 40%;
  margin-left: 28rem;
}

.options {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#bttn {
  margin-left: 12rem;
}

#descriptionError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#invoiceidError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: gold;
  color: black;
  border: none;
}

/* Events */

.container-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 15rem;
  margin-top: 15rem; */
  padding: 15rem;
}

.container-events h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
  color: cornsilk;
}

.container-events h2 {
  font-family: cursive;
  color: cornsilk;
}

.event-wrap {
  background-color: black;
}

#eventfooter {
  margin-top: 20rem;
  border: 2px solid purple;
}

.mainfoot {
  display: flex;
  flex-direction: column;
}

#foot {
  margin-top: 90rem;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider h4 {
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.container-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.review-comments {
  width: 100%;
  font-size: 2rem;
  padding: 10rem;
  background-color: rgb(134, 138, 139);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pone {
  border: 1px solid black;
  padding: 3rem;
  border-radius: 20%;
  background-color: whitesmoke;
  margin-top: 3rem;
}

.ptwo {
  border: 1px solid black;
  padding: 3rem;
  border-radius: 20%;
  background-color: whitesmoke;
  margin-top: 4rem;
}

.pthree {
  border: 1px solid black;
  padding: 3rem;
  border-radius: 20%;
  background-color: whitesmoke;
  margin-top: 4rem;
}

.pfour {
  border: 1px solid black;
  padding: 3rem;
  border-radius: 20%;
  background-color: whitesmoke;
  margin-top: 4rem;
}

.pfive {
  border: 1px solid black;
  padding: 3rem;
  border-radius: 20%;
  background-color: whitesmoke;
  margin-top: 4rem;
}

.paypal-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem;
  background-color: whitesmoke;
}

.paypal-wrap p {
  font-size: 2rem;
}

.paypay {
  padding: 10rem;
  background-color: black;
}

.opt {
  font-size: 1.5rem;
}
