body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(8,146,208);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side-bar{
  width: 20%;
  background-color: yellow;
  opacity: 1;
  height: 1200px;
  border-radius: 1%;  
}

.side-bar p {
  font-style: oblique;
}

.logo {
  border-radius: 50%;
  width: 40%;
}

/* MAIN */
.main {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}


.main h1 {
  font-size: 20px;
  color: black; 

}

.main-wrapper {
  background-color: white;
  border-radius: 03%;
}

.firstpic{
  opacity: 1;
  border-radius: 5%;
  width: 50%;
}

/* SERVICES */

.services{
  opacity: 1;
  background-color: white;

}



/* PAYPAL*/

#firstbook {
  border-radius: 5%;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;

}

#secondbook {
  border-radius: 5%;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}


#smart-button-container {
  padding: 10px 10px 10px 10px;
}

#smart-button-container p {
  justify-items: center;
  margin: 10px 10px;
  font-size: 18px;
  color: black;
}

#description {
  margin-right: 5px;
}

#amount {
  margin-left: 32px;
}

#priceLabelError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#descriptionError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#invoiceidError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* CAROUSEL */

.carousel-item img {
  opacity: 1;
  width: 100%;



}

.carousel-caption{
  color: black;
  font-size: large;
}