body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(8, 146, 208);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.side-bar {
  width: 20%;
  background-color: yellow;
  opacity: 1;
  height: 1300px;
  border-radius: 1%;
}

.side-bar p {
  font-style: oblique;
}

.logo {
  border-radius: 50%;
  width: 40%;
}

#social {
  font-size: 1.5rem;
  border: 2px blue;
}

.flyer {
  border-radius: 05%;
  margin-top: 40px;
}

/* MAIN */
.main {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-size: 20px;
  color: black;
  padding-bottom: 2%;
}

.main h3 {
  margin: 0px 0px 20px 0px;
  font-size: 2rem;
  word-spacing: 20px;
}

.main-wrapper {
  background-color: white;
  border-radius: 03%;
}

.main-wrapper p {
  font-style: oblique;
  font-size: 20px;
  color: black;
  margin-top: 30px;
}

.firstpic {
  opacity: 1;
  border-radius: 5%;
  width: 40%;
  margin-right: 40px;
}

.secpic {
  opacity: 1;
  border-radius: 5%;
  width: 40%;
  margin-left: 40px;
}

.thirdpic {
  width: 50%;
  border-radius: 5%;
  margin-top: 2%;
}

/* SERVICES */

.services {
  margin-top: 30px;
  opacity: 1;
  background-color: white;
  border-radius: 3%;
}

.travel {
  width: 45%;
  border-radius: 5%;
  margin-right: 30px;
}

.travellogo {
  width: 45%;
  border-radius: 5%;
  margin-left: 30px;
}

.fb {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* PAYPAL*/

#firstbook {
  border-radius: 5%;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#secondbook {
  border-radius: 5%;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#smart-button-container {
  padding: 10px 10px 10px 10px;
}

#smart-button-container p {
  justify-items: center;
  margin: 10px 10px;
  font-size: 18px;
  color: black;
}

#description {
  margin-right: 5px;
}

#amount {
  margin-left: 32px;
}

#priceLabelError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#descriptionError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#invoiceidError {
  border: 2px solid blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* CAROUSEL */
.slider {
  padding: 0px 0px 0px 0px;
  height: auto;
  margin: 0;
}

.slider {
  padding: 0 0 0 0;
  height: 600px;
}

.slider img {
  padding: 0 0 0 0;
}

.carousel h3 {
  font-size: 2rem;
  margin-top: 15%;
}

.carousel-item img {
  opacity: 1;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.carousel-caption {
  color: black;
  font-size: large;
}

.image {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.rightarrow {
  margin-right: 10%;
}

.leftarrow {
  margin-left: 10%;
}

#header h2 {
  font-size: 20px;
  font-weight: bold;
}

#header p {
  font-size: 18px;
}

#footer {
  background-color: gold;
  padding-bottom: 4%;
}

#footer p {
  padding-bottom: 10px;
}

#footer a {
  padding-bottom: 10px;
  color: black;
  opacity: 1;
}

#footer h3 {
  font-size: 30px;
}

#footwrap {
  background-color: purple;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
}

/* MEDIA QUERY/FULLY RESPONSIVE */
@media only screen and (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  #social {
    font-size: 1rem;
  }

  .firstpic {
    margin-left: 28px;
    margin-bottom: 20px;
    width: 80%;
  }

  .secpic {
    margin-left: 0%;
    width: 80%;
  }

  .services {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .travel {
    margin-left: 40px;
    margin-bottom: 20px;
    width: 80%;
  }
  .travellogo {
    margin-right: 20px;
    width: 80%;
  }

  #secondbook {
    margin: 0px 20px 0px 0px;
  }

  .flyer {
    width: 100%;
    margin-right: 20px;
  }

  .slider img {
    width: 100%;
  }

  .rightarrow {
    margin-top: 65%;
  }
  .leftarrow {
    margin-top: 65%;
  }
}
